In [3]:
#create a dictionary d1 with 3 items rno ,name and marks as keys and 1,'Ram' and 90 as resp.values
d1={'rno':1,'name':'Ram','marks':90}
print('d1=',d1)

#create a dictionary d2 with 3 items 'jan','mar' & 'apr' as keys nd 31,31 & 30 as  resp. values
d2={'jan':31,'mar':31,'apr':30}
print('d2=',d2)

#create a dictionary d3 
d3={1:'sun','mar':2,3.3:30,'month':'apr'}
print('d3=',d3)
print(type(d3['mar']))
print(type(d3[3.3]))

d1= {'rno': 1, 'name': 'Ram', 'marks': 90}
d2= {'jan': 31, 'mar': 31, 'apr': 30}
d3= {1: 'sun', 'mar': 2, 3.3: 30, 'month': 'apr'}
<class 'int'>
<class 'int'>

In [4]:
d1={'rno':1,'name':'Rama','marks':90}
print('d1=')
#len(d1)- to return no of items in d1
print('no of items in dictionary=',len(d1))

#ADDING A NEW ITEM  IN DICTIONARY WITH A NEW KEY:
d1['AGE']=15
print('d1=',d1)
print('no of items in dictionary=',len(d1))

#EDITING VALUE OF AN EXISITNG ITEM NAME :
d1['name']='krishna'# value of name key  will change from  Rama to Krishna
print('d1=',d1)
print('no of items in dictionary=',len(d1))

d1=
no of items in dictionary= 3
d1= {'rno': 1, 'name': 'Rama', 'marks': 90, 'AGE': 15}
no of items in dictionary= 4
d1= {'rno': 1, 'name': 'krishna', 'marks': 90, 'AGE': 15}
no of items in dictionary= 4

In [5]:
#using get()
d1={'rno':1,'name':'Rama','marks':90}
print('d1=',d1,sep=' ')
print('keys=',d1.keys())
print('values=',d1.values())
print('items=',d1.items())
print(d1.get('name'))#Rama
print(d1.get('names'))#None
print(d1.get('names','not existing'))#Rama/not found

d1= {'rno': 1, 'name': 'Rama', 'marks': 90}
keys= dict_keys(['rno', 'name', 'marks'])
values= dict_values([1, 'Rama', 90])
items= dict_items([('rno', 1), ('name', 'Rama'), ('marks', 90)])
Rama
None
not existing

In [14]:
#sorted()will sort the items in dictionary as a list, dicitonary order will not bechanged
d2={52:20,3:35,6:20,9:66}
print('sorted (d2)=',sorted(d2))
print('after exec. sorted(d2), d2=',d2)

sorted (d2)= [3, 6, 9, 52]
after exec. sorted(d2), d2= {52: 20, 3: 35, 6: 20, 9: 66}
[1, 2, 3, 4]
{3: 1000, 1: 10, 4: 100, 2: 1}

In [7]:
#sorting a dict with all keys of str type
d2={'y':20,'cccc':35,'aa':20,'dd':66}
print(sorted(d2))

['aa', 'cccc', 'dd', 'y']

In [9]:
d2={'e':'eagle','f':'fan','h':'house'}
print('f' in d2)
print('eagle' in d2)
print('fan' in d2.keys())
print('fan' in d2.values())

True
False
False
True

In [10]:
#deleting an item  name from dict based on a given key
d1={'rno':1,'name':'Rama','marks':90}
print('d1=',d1,sep=' ')
del d1['name']
print('after deletion d1=',d1,sep=' ')

d1= {'rno': 1, 'name': 'Rama', 'marks': 90}
after deletion d1= {'rno': 1, 'marks': 90}

In [11]:
#deleting d1 itself
d1={'rno':1,'name':'Rama','marks':90}
del d1

#print('after deletion d1=',d1,sep=' ') will trhrow error

In [12]:
#clear()-will delete the complete content and makes dcitionary empty
d1={'rno':1,'name':'Rama','marks':90}
d1.clear()# all three items of d1 got deleted
print(d1) # d1 still exists but empty

{}

In [13]:
#update()- will add anitem if a given key is not present otherwise update the value of exisitng key with new value
d1={1:10,2:20,3:30}
d2={4:40,1:100,5:50}
print('before updation,d1=',d1)
print('d2=',d2)
d1.update(d2)
print('after updation,d1=',d1)
print('d2=',d2)

before updation,d1= {1: 10, 2: 20, 3: 30}
d2= {4: 40, 1: 100, 5: 50}
after updation,d1= {1: 100, 2: 20, 3: 30, 4: 40, 5: 50}
d2= {4: 40, 1: 100, 5: 50}

In [21]:
#to print keys of all items usinga for loop
d={'a':'ant',2:'bat','car':3}
print('d.keys()=',d.keys())
print('type of d.keys()=',type(d.keys()))
for i in d.keys():
        print(i)
l1=list(d.keys())
print('l1=',l1,'type of l1=',type(l1))

d.keys()= dict_keys(['a', 2, 'car'])
type of d.keys()= <class 'dict_keys'>
a
2
car
l1= ['a', 2, 'car'] type of l1= <class 'list'>

In [20]:
#to print keys and values of all items using a for loop
d={'a':'ant',2:'bat','car':3}
for i in d.values():
    print(i)

ant
bat
3

In [22]:
#items()-to print keys and values of all items using a for loop
d={'a':'ant',2:'bat','car':3}
for i,j in d.items():
    print(i,j)

a ant
2 bat
car 3

In [23]:
d={1:1,2:10,3:10}
print(max(d))
print(min(d))
print(sum(d))
print(max(d.values()))
print(min(d.values()))
print(sum(d.values()))
print(max(d.keys()))
print(min(d.keys()))
print(sum(d.keys()))

3
1
6
10
1
21
3
1
6

In [25]:
#average of values
d1={'rno1':90,'rno2':95,'rno3':96,'rno4':94}
print(d1)
s=sum(d1.values())
print(s)
print(s/len(d1))

{'rno1': 90, 'rno2': 95, 'rno3': 96, 'rno4': 94}
375
93.75

In [26]:
#to input  a dictionary that stores product codes and prices of 3  products
#{101:100,102:100,103-350}
d={}#empty dict
for i in range(3):#3 times -0 to 2
    pcode=int(input("pcode:"))
    price=int(input("price"))
    d[pcode]=price 
       
print(d)

pcode:101
price100
pcode:102
price100
pcode:103
price350
{101: 100, 102: 100, 103: 350}

In [28]:
#input 3 items  with distict keys using a while loop
d={}
i=1
while i<=3:
    pcode=int(input("pcode:"))
    price=int(input("price"))
    if pcode not in d.keys():
        d[pcode]=price    
    else:
        i=i-1
    i=i+1
    
print(d)

pcode:101
price100
pcode:102
price100
pcode:103
price350
{101: 100, 102: 100, 103: 350}

In [30]:
#creating a dict wth tally of characters present in a given string
#if given string is "Are real real"-a tally of no of chars present in a given str
#output should be  A:1,'r':3,'e':3,' ':3,'a':2,'l':2,'o':1,'k':1
s="Are real real ok"
d={}

for i in s:
    if i in d:
        d[i]=d[i]+1
    else:
        d[i]=1 
print(d)

{'A': 1, 'r': 3, 'e': 3, ' ': 3, 'a': 2, 'l': 2, 'o': 1, 'k': 1}

In [31]:
# to make a tally of vowels present in a string
s="InformAtiOn"
d={}
vowels="aeiou"
for i in vowels: #
    d[i]=s.lower().count(i) #'a':1,'e':0,'i':1,'o':1,'u':0
     
print(d)

{'a': 1, 'e': 0, 'i': 2, 'o': 2, 'u': 0}

In [57]:
#1.to create a dictionary with names of months and days in a month(Assume feb has 28 days)

d={'jan':31,'feb':28,'mar':31,'apr':30,'may':31,'jun':30,'jul':31,'aug':31,'sep':30,'oct':31,'nov':30,'dec':31}
print(d)

#2.accept a month name and print the number of days and print a message for invalid input
mname=input("enter a month name:")
#print(d[mname]) # will throw error if the given month does not match with exising key months
#or
print(d.get(mname))#value if found otherwise None
print(d.get(mname,'match not found'))#value if found,otherwise msg "match found"

#3Print all the month names(keys) in alphabetical order
print(sorted(d))
print(sorted(d.keys()),end=' ')
print()

#4 print all the month names with 31 days 
print('names of months with 31 days-method 1')
for i in d.keys():
    if d[i]==31:
        print(i,end=' ')
print()
#4 method 2
print('names of months with 31 days-method 2')
for i,j in d.items():
    if j==31:
        print(i,end=' ')

{'jan': 31, 'feb': 28, 'mar': 31, 'apr': 30, 'may': 31, 'jun': 30, 'jul': 31, 'aug': 31, 'sep': 30, 'oct': 31, 'nov': 30, 'dec': 31}
enter a month name:jun
30
30
['apr', 'aug', 'dec', 'feb', 'jan', 'jul', 'jun', 'mar', 'may', 'nov', 'oct', 'sep']
['apr', 'aug', 'dec', 'feb', 'jan', 'jul', 'jun', 'mar', 'may', 'nov', 'oct', 'sep']
names of months with 31 days-method 1
jan mar may jul aug oct dec
names of months with 31 days-method 2
jan mar may jul aug oct dec

In [37]:
#nested dictionary
#to store details of 3 students in a dictionary -
#details include rno,marksin 3 subjects
d1={'eng':90,'mat':99,'cs':95}  #marks of rno 1
d2={'eng':99,'mat':97,'cs':90}  #marks of rno 2
d3={'eng':92,'mat':98,'cs':85}  #marks of rno 3
print('d1=',d1)
print('d2=',d2)
print('d3=',d3)
d={1:d1,2:d2,3:d3}#main
print('nested d=',d)
print(d[1])
print(d[2]['cs'])
print(d[3]['mat'])

d1= {'eng': 90, 'mat': 99, 'cs': 95}
d2= {'eng': 99, 'mat': 97, 'cs': 90}
d3= {'eng': 92, 'mat': 98, 'cs': 85}
nested d= {1: {'eng': 90, 'mat': 99, 'cs': 95}, 2: {'eng': 99, 'mat': 97, 'cs': 90}, 3: {'eng': 92, 'mat': 98, 'cs': 85}}
{'eng': 90, 'mat': 99, 'cs': 95}
90
98

In [38]:
'''
1.To assign a dictionary that stores the following names and marks obtained by  5 students
# name   marks
  aaa     60
  bbb     100
  ccc     95
  ddd     80
  eee     100
'''
marks={'aaa':60,'bbb':100,'ccc':95,'ddd':80,'eee':100}
print('marks to start with =',marks)

marks to start with = {'aaa': 60, 'bbb': 100, 'ccc': 95, 'ddd': 80, 'eee': 100}

In [40]:
#2. To print the highest mark and name(s) of students who secured the highest
highest=max(marks.values()) #100
print('highest mark=',highest)

print('highest mark is secured by : ',end=' ')
for i in marks:
    if marks[i]==highest:# 
        print(i,end=' ')
print()

highest mark= 100
highest mark is secured by :  bbb eee

In [41]:
#3.To find the average mark and print the number of students whose marks are above average mark
average=sum(marks.values())/len(marks)
print('average=',average)
print('no of students who secored above average=',end=' ')
kount=0
for i in marks:
    if marks[i]>average:
        kount=kount+1
print(kount)

average= 87.0
no of students who secored above average= 3

In [42]:
#4 modifyng the value of a keyIncrement the marks of ccc by 3
marks['ccc']=marks['ccc']+3#98
print('marks after changing marks of ccc',marks)

marks after changing marks of ccc {'aaa': 60, 'bbb': 100, 'ccc': 98, 'ddd': 80, 'eee': 100}

In [44]:
#5.To add two more elements to the dictionary with given names and marks: fff-75 ,ggg-65
marks['fff']=75
marks['ggg']=65
print('marks afteer adding two more new  elements',marks)

marks afteer adding two more new  elements {'aaa': 60, 'bbb': 100, 'ccc': 98, 'ddd': 80, 'eee': 100, 'fff': 75, 'ggg': 65}

In [45]:
#6.Create another dictionary newmarks similar to marks dictionary with 2 elements -bbb-55 ,fff-81,jjj 84 and kkk-64
newmarks={'bbb':55 ,'fff':81,'jjj':84,'kkk':64}
print('new marks=',newmarks)

new marks= {'bbb': 55, 'fff': 81, 'jjj': 84, 'kkk': 64}

In [46]:
#7.Create a new dictionary allmarks,by joining items of two dicitonaries marks and newmarks
#and print all the three dictionaries
#allmarks=marks.update(newmarks)
allmarks=marks.copy()
allmarks.update(newmarks)
print('marks=',marks)
print('newmarks=',newmarks)
print('allmarks=',allmarks)

marks= {'aaa': 60, 'bbb': 100, 'ccc': 98, 'ddd': 80, 'eee': 100, 'fff': 75, 'ggg': 65}
newmarks= {'bbb': 55, 'fff': 81, 'jjj': 84, 'kkk': 64}
allmarks= {'aaa': 60, 'bbb': 55, 'ccc': 98, 'ddd': 80, 'eee': 100, 'fff': 81, 'ggg': 65, 'jjj': 84, 'kkk': 64}

In [47]:
#8.Display the marks of bbb from merged dictionary
print('marks obtained by bbb=',allmarks['bbb'])

marks obtained by bbb= 55

In [48]:
#9.deleting the entry of ccc from allmarks dictionary using del
del allmarks['ccc']
print('allmarks after deleting ccc=',allmarks)

allmarks after deleting ccc= {'aaa': 60, 'bbb': 55, 'ddd': 80, 'eee': 100, 'fff': 81, 'ggg': 65, 'jjj': 84, 'kkk': 64}

In [50]:
#10.deleting the item with  key eee from allmarks dictionary using pop(ikey)
allmarks.pop('eee')
print('allmarks after deleting kkk=',allmarks)

allmarks after deleting kkk= {'aaa': 60, 'bbb': 55, 'ddd': 80, 'fff': 81, 'ggg': 65, 'jjj': 84, 'kkk': 64}

In [51]:
#11.deleting last inserted item using popitem()
allmarks.popitem()#wil delete 'kkk'
print('allmarks after popitem=',allmarks)

allmarks after popitem= {'aaa': 60, 'bbb': 55, 'ddd': 80, 'fff': 81, 'ggg': 65, 'jjj': 84}

In [52]:
print(allmarks)
allmarks.pop('ggg')#'ggg' gets deleted
print(allmarks)
allmarks.popitem()# 'jjj' gets delted
print(allmarks)

{'aaa': 60, 'bbb': 55, 'ddd': 80, 'fff': 81, 'ggg': 65, 'jjj': 84}
{'aaa': 60, 'bbb': 55, 'ddd': 80, 'fff': 81, 'jjj': 84}
{'aaa': 60, 'bbb': 55, 'ddd': 80, 'fff': 81}

In [53]:
#12. remove all the items of allmarks dicitonary
allmarks.clear()
print('allmarks after emptying',allmarks)

allmarks after emptying {}

In [54]:
#13 to delete allmarks dicitonary form menmory
del allmarks
#print(allmarks)
#(allmarks)

In [55]:
#14. considering the given dictionery d1 with id as key and age as value.
#split d1 into two dictionaries based on the age ,d2 with items with age 60 and above  and rest of the intms into d3
#print all the three dictionaries
d1={102:61,101:61,103:60,104:20,105:80,106:40}
d2={}
d3={}
for i in d1:
    if d1[i]>=60:
        d2[i]=d1[i]# {102:61}{103:60.105:80}
    else:
        d3[i]=d1[i] #{101:19,104:20,106:40}
print('d1=',d1)
print('d2=',d2)
print('d3=',d3)

d1= {102: 61, 101: 61, 103: 60, 104: 20, 105: 80, 106: 40}
d2= {102: 61, 101: 61, 103: 60, 105: 80}
d3= {104: 20, 106: 40}

In [56]:
#join d1 and d2 to make d3
d1={1:2,2:3}
d2={4:5,2:25,6:10}
d3={}#joined
d3=d1.copy()
d3.update(d2) #d3 is update
print('d1=',d1)
print('d2=',d2)
print('d3=',d3)

d1= {1: 2, 2: 3}
d2= {4: 5, 2: 25, 6: 10}
d3= {1: 2, 2: 25, 4: 5, 6: 10}

In [64]:
#dict()- to create a dictionary from a list which has key value pair as its subelements
list1=[['a','apple'],['b','bat'],['c','cat'],['a','ant']]
print('list1=',list1)
d1=dict(list1)
print('d1=',d1)

list1= [['a', 'apple'], ['b', 'bat'], ['c', 'cat'], ['a', 'ant']]
d1= {'a': 'ant', 'b': 'bat', 'c': 'cat'}

In [71]:
#dict()- to create a dictionary from a tuple which has key value pair as its subelements
tuple1=(('a','apple'),('b','bat'),('c','cat'),('a','ant'))
print('tuple1=',tuple1)
d1=dict(tuple1)
print('d1=',d1)

tuple1= (('a', 'apple'), ('b', 'bat'), ('c', 'cat'), ('a', 'ant'))
d1= {'a': 'ant', 'b': 'bat', 'c': 'cat'}